body {
  margin: 0;
}

h2 {
  margin: 0;
}

a {
  color: #05f;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 20px;
}

ol {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
}

.button {
  padding: 0;
  background-color: #00000000;
  border: none;
}

#theme {
  padding: 20px;
  width: 120px;
  height: 50px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

#top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid gray;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ol {
  padding-left: 32px;
}

#grid #article {
  padding: 20px;
}

@media (max-width: 500px) {
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
}
